@import "../../../styles/_breakpoints.scss";
@import "../../../styles/_variables.scss";


.active {
  color: #ffffff !important;
  background: #fee448 !important;
  border: 1px solid #fee448 !important;
}

.teacher {
  border-radius: 100px;
  object-fit: cover;
}
.teacherLessons {
  ul {
    li {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: #2e2d2d80;
    }
    li {
      position: relative;
      &.image {
        img {
          border-radius: 20px;
          object-fit: cover;
        }
      }
      &.image::after {
        background: url(/assets/images/Ellipse.svg) 0 0 no-repeat;
        content: "";
        width: 50px;
        position: absolute;
        height: 5px;
        left: 3px;
        bottom: 0px;
        background-size: 50%;
      }
    }
    li {
      &.author {
        margin-left: 10px;
      }
    }
  }
}
.taught {
  h4 {
    span {
      color: $body-bg;
    }
  }
}
.teachName {
  span {
    color: #2e2d2d80 !important;
  }
}
.lessonsBackground {
  a {
    text-decoration: none;
    color: inherit;
  }
  // padding: 100px 0;
  @media screen and (max-width: $mobile) {
    padding: 50px 0px;
  }
  .title {
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 54px;
      letter-spacing: -1.5px;
      color: $color-brand-text;
    }
  }
  .searchLesson {
    .search {
      width: 100%;
      height: 46px;
      background-color: #fff;
      border: 1px solid $color-brand-text;
      box-sizing: border-box;
      border-radius: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      align-items: center;
      letter-spacing: -0.02em;
      font-feature-settings: "liga" off;
      color: $color-brand-text;
      background: url(/assets/images/Search_icon_dark.svg) 0 0 no-repeat;
      background-position: 12px 12px;
      padding: 0px 5px 0px 35px;
      &::placeholder,
      &::target-text {
        opacity: 0.5;
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
  .filter {
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      background: rgba(255, 180, 171, 0.4);
      border: 1px solid #dd6459;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 21px;
      padding: 11px 20px;
      color: #dd6459;
      margin-bottom: 20px;
    }
    .filterDropdown {
      p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        background: rgba(255, 180, 171, 0.4);
        border: 1px solid #dd6459;
        box-sizing: border-box;
        border-radius: 21px;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
        padding: 11px 20px;
        color: #dd6459;
        // display: inline-block;
        margin-bottom: 20px;
      }
    }
    .datepickerFilter {
      min-height: 38px;
      align-items: center;
      background-color: hsl(0, 0%, 100%);
      border-color: #cecece;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      padding-left: 10px;
      border-color: black;
      max-width: 171px;
      &::placeholder,
      &::target-text {
        opacity: 0.9;
        padding-left: 10px;
      }
      &:focus {
        outline: none;
      }
    }
    .dropdowns {
      @media screen and (min-width: $tablet) {
        display: block;
      }
      @media screen and (max-width: $mobile) {
        display: none;
      }
      .dropdownWrapper {
        @media screen and (max-width: $tablet) {
          margin-bottom: 10px;
        }
      }
      .searchByMonth {
        position: relative;
        .calendorIcon {
          position: absolute;
          z-index: 99;
          top: 12px;
          left: 20px;
          img {
          }
        }
        input {
          min-height: 42px;
          border: 1px solid $tertiary-black-color !important;
          min-width: 100%;
          padding-left: 40px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          display: flex;
          align-items: center;
          letter-spacing: -0.02em;
          font-feature-settings: "liga" off;
          color: $tertiary-black-color;
          @media screen and (max-width: $tablet) {
            padding-left: 30px;
          }
          &::placeholder {
            opacity: 0.5;
          }
        }
      }
    }
  }
  .topics {
    overflow-x: scroll;

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .topics::-webkit-scrollbar {
    display: none;
  }
  .topic {
    .topicsTitle {
      background: rgba(255, 180, 171, 0.4);
      border: 1px solid rgb(221, 100, 89);
      box-sizing: border-box;
      border-radius: 21px;
      display: inline-block;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      padding: 11px 20px;
      color: rgb(221, 100, 89);
    }
    
  }

  .cardBodyInner {
    margin: auto;
    padding: 10px 30px;
    @media screen and (max-width: $tablet) {
      padding: unset;
    }
    ul {
      &.cardBodyHeader {
        li {
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 18px;
          display: flex;
          align-items: center;
          letter-spacing: -0.02em;
          color: rgba(46, 45, 45, 0.5);
        }
        li {
          &.age {
            margin-right: 15px;
          }
        }
        li {
          &.time {
            margin-left: 15px;
            margin-right: 5px;
            @media screen and (max-width: $mobile) {
              margin-left: 0px;
            }
          }
        }
        li {
          &.calender {
            margin-left: 30px;
            margin-right: 5px;
            @media screen and (max-width: $mobile) {
              margin-left: 10px;
            }
          }
        }
      }
      &.cardBodyFooter {
        li {
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: -0.02em;
          color: rgba(46, 45, 45, 0.5);
        }
        li {
          &.image {
            img {
              border-radius: 20px;
              object-fit: cover;
            }
          }
          &.image::after {
            background: url(/assets/images/Ellipse.svg) 0 0 no-repeat;
            content: "";
            width: 50px;
            position: absolute;
            height: 26px;
            left: 3px;
            bottom: -23px;
            background-size: 50%;
          }
        }
        li {
          &.author {
            margin: 8px 10px;
          }
        }
      }
    }
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 23px;
      line-height: 30px;
      display: flex;
      align-items: center;
      letter-spacing: -0.03em;
      font-feature-settings: "liga" off;
      color: $color-brand-text;
      text-decoration: none;
      @media screen and (max-width: $mobile) {
        text-align: left;
      }
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.02em;
      font-feature-settings: "liga" off;
      color: $color-brand-text;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 10px 0px;
      min-height: 55px;
    }
  }
}

.cardDescription {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
}

.resetFilter {
  text-decoration: underline !important;
  font-weight: 700;
}

@media screen and (max-width: $mobile) {
  .resetFilter {
    text-align: center !important;
    margin-top: 1rem;
  }
}

.pageBtn {
  @media screen and (max-width: $mobile) {
    padding-top: 4px;
  }
}
