@import "../../../styles/_variables.scss";
@import "../../../styles/_breakpoints.scss";

.userModal {
  .userModalClose {
    text-align: right;
    margin: auto;
  }

  @media (min-width: 320px) {
    .container {
      width: auto;
      margin: 0 auto;
      padding-left: 32px;
      padding-right: 32px;
    }

    .slot {
      background-color: $quinary-brand-color;
    }

    .slotHeader {
      h4 {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
      }
    }
    .slotHeaderSectionTime {
      font-weight: 500 !important;
      font-size: 16px !important;
      line-height: 20px !important;
      color: #000000 !important;
    }
    .slotHeaderSectionLeft {
      font-weight: 500 !important;
      font-size: 13px !important;
      line-height: 16px !important;
      color: rgba(0, 0, 0, 0.6) !important;
      padding-right: 15px;
    }
    .slotHeaderContent {
      font-weight: 500 !important;
      font-size: 13px !important;
      line-height: 16px !important;
      color: rgba(0, 0, 0, 0.6) !important;
      padding-right: 70px;
      margin-right: 80px;
    }
    .slotHeaderRight {
      h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }
      p {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.6);
        padding-bottom: 20px;
      }
    }
    .slotMiddleSection {
      font-weight: 500;
      font-size: 14px;
      width: 108px;
      font-family: "Montserrat";
      line-height: 17px;
      /* padding-right: 32px; */
      // height: 37px;
      margin-bottom: 23px;
    }
    .slotMiddleSectionDay {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.6);
      // padding-right: 16px;
      width: 30px;
    }
    .slotMiddleSectionTime {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.6);
      // padding-right: 16px;
      width: 59px;
    }
    .slotGap {
      gap: 20px;
    }
    .slotMiddleSectionLeft {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.6);
      width: 87px;
    }
    .slotFooter {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
      padding-top: 17px;
      margin-top: 20px;
    }
    .footerContent {
      color: $body-bg;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
    }
    .slotFooterContent {
      margin-bottom: 5px;
      font-weight: 500 !important;
      font-size: 16px !important;
      line-height: 20px !important;
      color: #000000 !important;
    }
    .slotButton {
      background-color: $body-bg;
      color: $secondary-black-color !important;
      border: none !important;
      padding: 11px 36px !important;
      color: $quinary-brand-color !important;
      border-radius: 8px;
      margin-top: 1px;
    }
    .buttonArrow {
      padding-left: 10px !important;
    }
    input[type="radio"] {
      appearance: none;
      width: 20px;
      height: 20px;
      border: 1px solid;
      border-radius: 50%;
      background-clip: content-box;
      padding: 3px;
    }

    input[type="radio"]:checked {
      background-color: #f37b6f;
      color: #f37b6f;
    }
    .scroll {
      overflow-y: scroll;
      height: 425px;
    }
    .scroll::-webkit-scrollbar {
      display: none;
    }
    .slotRadio{
      padding-left: 20px;
    }
  }
}
