@import "../../../../styles/_variables.scss";
@import "../../../../styles/_breakpoints.scss";



.cardWidth {
  max-width: 338px;
  @media screen and (min-width: 1800px) {
    margin-left: 135px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 370px !important;
    margin: 0 auto;
  }
  @media screen and (max-width: 350px) {
    max-width: 290px !important;
    margin: 0 auto;
  }
}
.stickyCard {
  position: sticky;
  top: 150px;

  width: 100%;

  @media screen and (min-width: $desktop-large) {
    margin-right: 358px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 358px;
  }
  @media screen and (max-width: $desktop) {
    margin-right: 270px;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    margin-right: 50px;

    width: 80%;
  }
  @media screen and (max-width: $mobile) {
    // margin: 0 auto !important;
    margin-right: 158px;
  }
  @media screen and (max-width: 350) {
    margin-right: 150px;
    max-width: 298px !important;
  }
  p {
    margin-bottom: 0rem !important;
  }
  h3 {
    margin-bottom: 0rem !important;
  }
}

.aboutClassDetails {

  @media screen and (min-width: 1800px) {
    margin-left: 560px;
  }
  @media screen and (min-width : $mobile) {
    padding-left: 40px;
    
  }
}

.lessonMain {
  @media screen and (min-width: 1800px) {
    margin-left: 495px;
  }
}
.singleLesson {
  display: flex;
  flex-wrap: nowrap;
  padding: 90px 0px 50px 0px;
  @media screen and (max-width: $mobile) {
    padding: 50px 0px;
    flex-wrap: wrap-reverse;
  }
  .lessonIntro {
    padding-left: 40px;
    @media screen and (max-width: $mobile) {
      margin-top: 50px;
      padding-left: 10px;
    }
    .lessonType {
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        // display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        font-feature-settings: "liga" off;
        // color: $tertiary-black-color;
        background: #8e97fd;
        color: #ffffff;
        padding: 10px;
        img {
          margin-right: 2px !important;
        }
      }
    }
    .title {
      max-width: 625px;
      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: -1.5px;
        color: $tertiary-black-color;
      }
    }
    .description {
      max-width: 625px;
      @media screen and (max-width: $tablet) {
        max-width: 480px;
      }
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.02em;
        font-feature-settings: "liga" off;
        color: $tertiary-black-color;
      }
    }

    .taughtBy {
      p {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        font-feature-settings: "liga" off;
        color: $tertiary-black-color;
        span {
          color: $body-bg;
          text-decoration: underline;
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .taught {
    h3 {
      span {
        color: $body-bg;
      }
    }
  }
  .teacher {
    border-radius: 100px;
    object-fit: cover;
  }
  .sidebar {
    .cardBodyInner {
      min-height: 300px;
      p {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        font-feature-settings: "liga" off;
        color: $tertiary-black-color;
      }
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: -1.5px;
        color: $tertiary-black-color;
      }
      .cardDetailsContent {
        padding: 10px 0px;
        border-top: 1px solid rgba(46, 45, 45, 0.15);
        h5 {
          font-style: normal;
          font-weight: bold;
          font-size: 23px;
          line-height: 27px;
          text-align: center;
          letter-spacing: -0.03em;
          font-feature-settings: "liga" off;
          color: $tertiary-black-color;
        }
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: -0.02em;
          font-feature-settings: "liga" off;
          color: $tertiary-black-color;
        }
      }
      .costBreakdown {
        border-top: 1px solid rgba(46, 45, 45, 0.15);
        h6 {
          padding: 10px;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 26px;
          // display: flex;
          // align-items: center;
          text-align: center;
          letter-spacing: -0.02em;
          font-feature-settings: "liga" off;
          color: $tertiary-brand-color;
          cursor: pointer;
          &::after {
            content: "";
            background: url("/assets/images/cost-break-down.svg") 0 0 no-repeat;
            width: 20px;
            right: 25px;
            height: 20px;
            position: absolute;
          }
        }
        .costBreakDownContent {
          background: #f7f5f4;
          border-bottom: 1px solid rgba(46, 45, 45, 0.15);
          .costBreakdownTags {
            padding: 5px 10px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 26px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.02em;
            font-feature-settings: "liga" off;
            color: $tertiary-black-color;
            ul {
              display: flex;
              width: 100%;
              justify-content: space-between;
              li {
                &:first-child {
                  float: left;
                }
                &:last-child {
                  float: right;
                }
              }
            }
          }
        }
      }
      .requestAnotherTime {
        padding: 10px;
        h5 {
          font-style: normal;
          font-weight: bold;
          font-size: 23px;
          line-height: 27px;
          text-align: center;
          letter-spacing: -0.03em;
          font-feature-settings: "liga" off;
          color: $tertiary-black-color;
          margin-bottom: 5px;
        }
        p {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 26px;
          text-align: center;
          letter-spacing: -0.02em;
          text-decoration-line: underline;
          font-feature-settings: "liga" off;
          color: $tertiary-black-color;
          margin-bottom: 10px;
          a {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            letter-spacing: -0.02em;
            text-decoration-line: underline;
            font-feature-settings: "liga" off;
            color: $body-bg;
          }
        }
      }
      .cartButtonWrapper {
        button {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          letter-spacing: -0.02em;
          color: #ffffff;
          background: #f17c72;
          padding: 12px 24px;
          border-radius: 8px;
          border: none;
          &:hover {
            background: #fee448;
            color: $body-bg;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .alreadyAdded {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 26px;
          align-items: center;
          text-align: center;
          letter-spacing: -0.02em;
          font-feature-settings: "liga" off;
          color: #2e2d2d;
        }
      }
    }
  }
  .lessonInfoContainer {
    // width: 1320px !important;

    background: #f7f5f4;
    .lessonInfo {
      margin: 30px 15px 17px 0;
      padding-left: 50px;
      @media screen and (max-width : $mobile) {
        margin: 35px 15px 25px 0;
        padding: 0px;
        
      }
      .lessonInfoSingle {
        @media screen and (max-width: $mobile) {
          text-align: center;
          margin-bottom: 15px;
        }
        .logo {
          vertical-align: top;
          display: inline-block;
          text-align: center;
          width: 130px;
          @media screen and (min-width: $mobile) and (max-width: $tablet) {
            width: 60px;
          }
          img {
            display: block;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          p {
            display: block;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: -0.02em;
            font-feature-settings: "liga" off;
            color: $tertiary-black-color;
          }
        }
      }
    }
  }
}
.strip {
  background: $quinary-brand-color;
  width: 100%;
  position: absolute;
  top: 425px;
  @media screen and (max-width: $mobile) {
    top: 590px;
  }
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    top: 500px;
  }
}
.faculties {
  .aboutTitle {
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 23px;
      line-height: 27px;
      align-items: center;
      letter-spacing: -0.03em;
      font-feature-settings: "liga" off;
      color: $tertiary-black-color;
    }
  }
  .singleFaculty {
    max-width: 675px;
    &:last-child {
      border-bottom: 1px solid rgba(46, 45, 45, 0.15);
    }
  }
}
.popularCoursesTitle {
  @media screen and (max-width: $mobile) {
    text-align: center;
    margin: auto;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: -0.03em;
    font-feature-settings: "liga" off;
    color: $tertiary-black-color;
  }
}
.popularCoursesListing {
  .singleCourse {
    max-width: 280px;
    min-height: 380px;
    margin: 0px 20px;
    &:first-child {
      margin: 0px;
      @media screen and (max-width: $mobile) {
        margin: auto;
      }
    }
    @media screen and (max-width: $mobile) {
      margin: auto;
      max-width: 366px;
    }
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
      max-width: 220px;
    }
    ul {
      li {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: rgba(46, 45, 45, 0.5);
      }
      li {
        &.age {
          margin-right: auto;
        }
      }
      li {
        &.time {
          padding-right: 3px;
        }
      }
    }
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 27px;
      letter-spacing: -0.02em;
      font-feature-settings: "liga" off;
      color: $tertiary-black-color;
      text-decoration: none;
      min-height: 55px;
      @media screen and (max-width: $mobile) {
        text-align: left;
      }
    }
    ul {
      li {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: rgba(46, 45, 45, 0.5);
      }
      li {
        &.image {
          img {
            border-radius: 20px;
          }
        }
        &.image::after {
          background: url(/assets/images/Ellipse.svg) 0 0 no-repeat;
          content: "";
          width: 43px;
          position: absolute;
          height: 26px;
          left: 20px;
          bottom: -10px;
          background-size: 50%;
        }
      }
      li {
        &.author {
          margin-left: 10px;
        }
      }
    }
  }
}

.aboutDescription {
  // max-width: 625px;
  @media screen and (max-width: $tablet) {
    max-width: 480px;
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    font-feature-settings: "liga" off;
    color: $tertiary-black-color;
  }
}
.cardBody {
  padding: 0px !important;
}
.aboutClass {
  // margin-top: 300px;

  @media screen and (min-width: $mobile) {
    margin-top: 195px;
  }
  @media screen and (max-width: $mobile) {
    margin-top: 440px;
    padding-left: 10px;
  }
}

.single_course {
  ul {
    li {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      align-items: center;
      letter-spacing: -0.02em;
      color: $tertiary-black-color;
    }
    li {
      &.age {
        margin-right: auto;
      }
    }
    li {
      &.time {
        // margin-left: auto;
        padding-right: 3px;
      }
    }
  }
  .title {
    font-style: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: -0.02em;
    font-feature-settings: "liga" off;
    color: $color-brand-text;
    text-decoration: none;
    min-height: 55px;
    @media screen and (max-width: $mobile) {
      text-align: left;
    }
  }
  .teacher_title {
    min-height: 30px;
  }
  ul {
    li {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: rgba(46, 45, 45, 0.5) !important;
    }
    li {
      &.image {
        img {
          border-radius: 20px;
          object-fit: cover;
        }
      }
      &.image::after {
        background: url(/assets/images/Ellipse.svg) 0 0 no-repeat;
        content: "";
        width: 50px;
        position: absolute;
        height: 26px;
        left: 16px;
        bottom: 0px;
        background-size: 50%;
      }
    }
    li {
      &.author {
        margin-left: 10px;
      }
    }
  }
  ul {
    .teacher_description {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      margin-right: auto;
      color: $tertiary-black-color;
      max-width: 200px;
      min-height: 50px;
      @media screen and (max-width: $mobile) {
        text-align: left;
      }
    }

    .flag_image {
      font-size: 25px;
      line-height: 30px;
      color: $black-color;
    }
  }
}
